* {

}

body {

}

.login {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/image/5-1.gif);
    background-size: cover;
    overflow: hidden;
    transition: .3s;
}

.shell {
    width: 350px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff49;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5) inset;
    /*transform: translateY(-50px);*/
}

.title {
    font-size: 80px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 0 0 10px #ff9dff80;
    -webkit-user-select:none;/*webkit浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none;/*IE10*/
    user-select:none;
}

.input {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    border: 5px solid transparent;
    background: rgba(255, 255, 255, .5);
    border-radius: 100px;
    padding: 5px 20px 0 20px;
    transition: 0.3s;
    font-size: 18px;
    outline: none
}

.input:hover {
    background: rgba(255, 255, 255, 0);
    border: 5px solid #ffffff;
}

.submit {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 15px 0;
    border-radius: 100px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 3px;
}

input::placeholder {
    color: #92A7E8;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.Remember {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #7597ff;
}

.Remember span {
    -webkit-user-select:none;/*webkit浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none;/*IE10*/
    user-select:none;
}

input[type="checkbox"] {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #007bff;
}

#Password {
    border: none;
    background-color: #ffffff00;
    color: #7597ff;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select:none;/*webkit浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none;/*IE10*/
    user-select:none;
}

.pop-up-container {
    position: absolute;
    top: 100px;
    left: calc(50vw - 100px);
    opacity: 0;
}

.pop-up-active {
    animation: pop-up-behavior 0.625s ease;
}

@keyframes pop-up-behavior {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    80% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}