<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanghgk.tourbackend.mapper.ArticleMapper">
<!--    动态sql-->
    <select id="list" resultType="com.wanghgk.tourbackend.pojo.Article">
        select * from article
        <where>
            <if test="categoryId!=null">
                category_id=#{categoryId}
            </if>

        and create_user=#{userId}
        </where>
    </select>
    
    <select id="recommend" parameterType="map" resultType="com.wanghgk.tourbackend.pojo.Article">
        SELECT id, title, cover_img FROM article
        <where>
            <if test="categories != null and categories.size() > 0">
                <foreach collection="categories" item="category" separator=" OR ">
                    category_id = #{category}
                </foreach>
            </if>
            <if test="excludedIds != null and excludedIds.size() > 0">
                AND id NOT IN
                <foreach collection="excludedIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY RAND()
        LIMIT #{size}
    </select>
    <select id="searchByTitle" parameterType="string" resultType="com.wanghgk.tourbackend.pojo.Article">
        SELECT id, title, cover_img
        FROM article
        WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>
</mapper>