.map {
    display: block;
    width: calc(100vw - var(--left-width));
    height: calc(100vh - var(--header-height));
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    background: #e8e6e6;
}

.node {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 3px solid #f9f9f9;
    border-radius: 50%;
    background: #fff;
    z-index: 5;
}

.road {
    z-index: 10;
}

.blank {
    --client-x: -1;
    --client-y: -1;
    display: block;
    position: absolute;
    --top: calc(var(--client-y) - 215);
    --left: calc(var(--client-x) - 195);
    top: calc(var(--top)*1px);
    left: calc(var(--left)*1px);
    z-index: 10;
    pointer-events: none;
}

.blank-name {
    display: block;
    width: 200px;
    height: 50px;
    background: #fff;
    border: 2px solid #e2e8ea;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-family: 华文中宋;
}

.triangle {
    position: absolute;
    bottom: -8px;
    left: 95px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    z-index: 11;
}