* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    /*overflow: hidden;*/
}

.menu {
    /*z-index: 10;*/
    /*position: relative;*/
    /*left: var(--left-width);*/
    --blue1:#92d5ff;
    --blue2:#77bbff;
    --green1:#a8e6cf;
    --green2:#86d7b9;
    --orange1:#ffcd85;
    --orange2:#ffb66b;
    --purple1:#b39ddb;
    --purple2:#9575cd;
}

.menu.dark {
    --blue1:#77a8d3;
    --blue2:#5c89b9;
    --green1:#85bfae;
    --green2:#6c9f97;
    --orange1:#cfad58;
    --orange2:#b29145;
    --purple1:#8f78aa;
    --purple2:#725b8e;
}

.shell {
    height: calc(100vh - var(--header-height));
    width: calc(100vw - var(--left-width));
    display: flex;

}

.box {
    flex: 1;
    min-width: 0;
    width: 25%;
    box-shadow: -20px 0 20px 5px rgba(255, 255, 255, 0.7);
    transition: flex 0.8s;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    /*border: 10px solid #fff;*/
    overflow: hidden;
}

.box:hover {
    flex: 2;
}

.box:hover .text {
    animation: appear 0.8s forwards 0.3s;
}

.img1 {
    background-image: url(../../../public/image/01_transparent_big.png),linear-gradient(var(--blue1) ,var(--blue2));
    /*background-color: linear-gradient(blue,pink);*/
}

.img2 {
    background-image: url(../../../public/image/02_transparent_big.png),linear-gradient(var(--green1) ,var(--green2));
}

.img3 {
    background-image: url(../../../public/image/03_transparent_big.png),linear-gradient(var(--orange1) ,var(--orange2));
}

.img4 {
    background-image: url(../../../public/image/04_transparent_big.png),linear-gradient(var(--purple1) ,var(--purple2));
}

.text {
    padding: 45px 75px;
    opacity: 0;
    color: rgb(255, 255, 255);
    /* height: 380px; */
    width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    height: 73px;
    font-size: 65px;
    font-family: 华文中宋;
    line-height: 65px;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.text {
    pointer-events: none;
    -webkit-user-select:none;/*webkit浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none;/*IE10*/
    user-select:none;
}

.title {
    display: inline-block;
    height: 65px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
}

.num {
    margin-left: -8px;
    text-decoration: none;
}

.text p {
    margin: 30px 0;
    font-size: 30px;
    pointer-events: none;
    text-decoration: none;

}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}