
.operation {
    display: block;
    position: fixed;
    left: calc(20px + var(--left-width));
    top: calc(20px + var(--header-height));
    /*backdrop-filter: blur(3px);*/
    z-index: 10;
    width: 272px;
    pointer-events: none;
    cursor: auto;
}

.operation:hover {
    /*pointer-events: visible;*/
}

.operation input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: #f8f8f8;
    transition: border-bottom-color 0.3s ease;
    pointer-events: visible;
}

.operation input:focus {
    outline: none;
    border-bottom-color: #007bff;
    pointer-events: visible;
}

.operation .search-result {
    display: block;
    width: 100%;
    max-height: 364px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 10;
    user-select: none;
    position: absolute;
    pointer-events: visible;
}

.operation .search-result::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge, and Opera *//*隐藏滚动条*/
}

.operation .destination {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    white-space: nowrap;
    background: #fff;
    pointer-events: visible;
}

.operation .destination:last-child {
    border-bottom: none;
}

.operation.node-detail .search-result {
    pointer-events: none;
    background: transparent;
    top: 50px;
    border: none;
}

.operation.node-detail .destination.left {
    transform: translateX(-100%);
    animation: node-detail-left;
    transition: 0.5s ease;
    background: #fff;
    pointer-events: none;
}

@keyframes node-detail-left {
    0% {
        background: #fff;
        transform: translateX(0);
    }

    100% {
        background: #fff;
        transform: translateX(-100%);
    }
}

.operation.node-detail .destination.right {
    transform: translateX(100%);
    animation: node-detail-right;
    transition: 0.5s ease;
    background: #fff;
    pointer-events: none;
}

@keyframes node-detail-right {
    0% {
        transform: translateX(0);
        background: #fff;
    }

    100% {
        transform: translateX(100%);
        background: #fff;
    }
}

.operation .destination:hover {
    background: #f0f0f0;
}

.operation.node-detail .detail {
    display: flex;
}

.detail {
    display: none;
    flex-direction: column;
    pointer-events: visible;
}

.detail .node-name {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-family: 华文中宋;
}

.detail .node-image img {
    width: 100%;
    height: 137px;
}

.newtons {
    display: flex;
    flex-direction: row;
    width: 98%;
    margin: 0 1%;
    pointer-events: visible;
}

.newton-item {
    margin: auto;
}

.newton {
    margin: auto;
    --pen-bkr: #0550e4;
    background-color: var(--pen-bkr);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.newton .icon {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 8px;
    left: 8px;
}

.newton-name {
    font-size: 13px;
    text-align: center;
    font-family: 微软雅黑;
}

.go-in {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #007bff;
    width: 80%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    color: #e6f4fd;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
    font-family: 华文中宋;
}

.path-detail-container {
    display: block;
    width: 100%;
    height: 364px;
    overflow: hidden;
    background: transparent;
    user-select: none;
    pointer-events: none;
    transform: translateY(-364px);
}

.path-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 364px;
    background-color: #f7f7f7;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-364px);
    transition: 0.5s ease-in;
    pointer-events: visible;
}

.path-detail.show {
    height: 364px;
    transform: translateY(0);
    transition: 0.5s ease-in;
    pointer-events: auto;
}

.path-detail .head {
    background: #f0f2f5;
    padding: 5px;
    color: #007bff;
    font-weight: bolder;
    font-family: 华文中宋;
}

.paths {
    height: 364px;
    overflow: scroll;
}

.paths::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge, and Opera *//*隐藏滚动条*/
}

.path-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.path-item:hover {
    background-color: #eaeaea;
}

.path-road-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.path-road-distance {
    font-size: 14px;
    color: #888;
}
