.publish {
    display: block;
    width: calc(100vw - var(--left-width));
    height: calc(100vh - var(--header-height));
    overflow-y: scroll;
    background: url(../../../public/image/12.png);
}

.position {
    margin-top: 40px;
}

.articleEditor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.outline {
    text-align: center;
    font-family: 方正姚体;
}

.form-group {
    display: block;
    width: calc(80vw - 0.8*var(--left-width));
    margin: auto;
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 5px;
}

.textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgba(200,200,200,0.3);
}

#content {
    height: 300px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.preview-img {
    display: block;
    width: 256px;
    min-height: 100px;
    margin: auto;
}

#upload-button {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#submit {
    display: block;
    margin: auto;
}

.pop-up-container {
    position: absolute;
    top: 100px;
    left: calc(50vw - var(--left-width)/2 - 100px);
    opacity: 0;
}

.pop-up-active {
    animation: pop-up-behavior 0.625s ease;
}

@keyframes pop-up-behavior {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    80% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}